@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace BankAccount.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    

    <script src="_framework/blazor.server.js"></script>
</body>

