@page "/withdraw"



<body class="home-container">
    <div class="headerDiv fixed-top">
        <h4><NavLink href="/" class="menu-link">Home</NavLink></h4>
        <h4><NavLink href="/transfer" class="menu-link">Transfer</NavLink></h4>
        <h4><NavLink href="/deposite" class="menu-link">Deposite</NavLink></h4>
        <h4><NavLink href="/withdraw" class="menu-link">Withdraw</NavLink></h4>
        <h4><NavLink href="/login" class="menu-link">Logout</NavLink></h4>

    </div>
    <p><span class="bank-name">AME</span></p>

    <h1>Welcome to the Withdraw Page</h1>
    <p><span class="paragraph">This is the Withdraw page content. Please log in to view your withdraw details. </span></p>
</body>




<style>

    

    .menu-link {
        color: white;
        text-decoration: none;
    }

    

    .headerDiv, .hearderDiv menu-link {
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

        .headerDiv h4:hover, .headerDiv h4.focus {
            color: rgb(255, 200, 200)
        }



    .accountingDiv {
        height: 100vh;
        width: 100%;
    }


    .headerDiv {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: maroon;
        color: white;
        height: 9vh;
        display: flex;
        font-size: 18px;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }


        .headerDiv h4:hover, .headerDiv h4:focus {
            color: rgb(255, 200, 200);
        }

    .home-container {
        text-align: center;
        margin-top: 2.5%;
        position: relative;
        background-image: url('/Images/Withdraw.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    
    h1 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .bank-name {
        font-size: 84px;
        font-weight: bold;
        color: maroon;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .paragraph {
        font-size: 22px;
    }

</style>
@code {
}
