@page "/"
@layout MainLayout




<body class="home-container">
    
    <h1>Welcome to Your Bank Account</h1>
    <p><span class="bank-name">AME</span></p>
    <p><span class="paragraph">Manage your finances and transactions with ease.</span></p>

</body>




@code {
}
