

<div class="headerDiv fixed-top">
    <h4><NavLink href="/">Home</NavLink></h4>
    <h4><NavLink href="/transfer">Transfer</NavLink></h4>
    <h4><NavLink href="/deposite">Deposite</NavLink></h4>
    <h4><NavLink href="/withdraw">Withdraw</NavLink></h4>
    <div class="menu-dropdown">
        <div class="menu-button">Login</div>
        <div class="menu-dropdown-content">
            <NavLink href="/login/user">Login of User</NavLink>
            <NavLink href="/login/admin">Login of Admin</NavLink>
        </div>
    </div>
</div>

<div class="page-content">
    
</div>


<style>

    .menu-dropdown {
        position: relative;
        display: inline-block;
    }

    .menu-button {
        cursor: pointer;
        color: white;
        transition: color 0.3s ease-in-out;
    }

        .menu-button:hover, .menu-button:focus {
            color: rgb(255, 200, 200);
        }

    .menu-link {
        color: white;
        text-decoration: none;
    }

    .menu-dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .menu-dropdown:hover .menu-dropdown-content {
        display: block;
    }

    .headerDiv, .hearderDiv menu-link {
        cursor: pointer;
        transition: color 0.3s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

        .headerDiv h4:hover, .headerDiv h4.focus {
            color: rgb(255, 200, 200)
        }


    .home-container {
        text-align: center;
        margin-top: 0%;
        position: relative;
        background-image: url('/Images/Image1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
    }

    .accountingDiv {
        height: 100vh;
        width: 100%;
    }


    .headerDiv {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: maroon;
        color: white;
        height: 9vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 999;
    }


        .headerDiv h4:hover, .headerDiv h4:focus {
            color: rgb(255, 200, 200);
        }

    .home-container {
        text-align: center;
        margin-top: 2.5%;
        position: relative;
        background-image: url('/Images/Image1.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: white;
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .menu-dropdown-content a {
        display: block;
        padding: 10px 20px;
        background-color: rgba(128, 0, 0, 0.8);
        color: white;
        text-decoration: none;
    }

        .menu-dropdown-content a:hover {
            background-color: rgba(128, 0, 0, 1);
        }

    h1 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    p {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .bank-name {
        font-size: 84px;
        font-weight: bold;
        color: maroon;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .paragraph {
        font-size: 22px;
    }

</style>